/**
 * Основные стили
 **/

html {
  font-size: 16px;
}

body {
  background: $bgColor;
  color: $textColor;
  font-family: $robotoFont;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-width: 320px;
}

::selection {
  background: $accentColor;
  color: $white;
}

a,
a:hover {
  text-decoration: none;
  color: $white;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
