$black: #000;
$white: #fff;
$bgColor: #252525;
$accentColor: #e5493a;
$accentColorSecond: #8dc63f;
$textColor: #707070;
$robotoFont: 'Roboto', sans-serif;
$ralewayFont: 'Raleway', sans-serif;
$transitionDuration: .4s;