.consultation {
  background: #333 url("../img/bg2.jpg") no-repeat center;
  background-size: cover;
}

.consultation__title {
  @include col(10, false);
  color: #fff;
  text-align: left;
  margin-bottom: 30px;
}

.consultation__descr {
  color: #fff;
  margin-bottom: 20px;
}

.consultation-form {
  @include col(4, false);
}

@media screen and (max-width: 860px) {
  .consultation {
    background: #333 url("../img/bg2-mobile.jpg") no-repeat center;
    background-size: cover;
  }
  .consultation__title {
    @include col(12, false);
    text-align: center;
  }

  .consultation__descr {
    text-align: center;
  }

  .consultation-form {
    @include col(8, false);
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .consultation-form {
    @include col(12, false);
  }
}