.form__label {
  @include visuallyHidden;
}

.form__input {
  display: block;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 3px;

  &::placeholder {
    font-size: 15px;
  }
}

.form__btn {
  width: 100%;
  padding: 15px;
}