.reviews__item {
  @include row;
  align-items: center;
  padding: 40px 40px 40px 0;
  border-bottom: 1px solid #f6f6f6;
}

.reviews__item-image-wrap {
  @include col(3);
}

.reviews__item-image {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.reviews__item-content {
  @include col(9);
}

.reviews__item-descr {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}

.reviews__item-paragraph {
  line-height: 1.4;
}

.reviews__item-paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .reviews__item {
    flex-direction: column;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .reviews__item-image-wrap {
    @include col(12);
    margin-bottom: 20px;
  }

  .reviews__item-image {
    margin: 0 auto;
  }

  .reviews__item-content {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .reviews__item-content {
    @include col(12);
  }
}