.gift {
  text-align: center;
  background: $bg;
}

.gift__title {
  @include visuallyHidden;
}

.gift__ic {
  display: block;
  margin: 0 auto 25px;
  width: 154px;
  height: 174px;
}

.gift__descr {
  font-size: 30px;
  line-height: 1.433;
  margin-bottom: 25px;
}
