.section {
  padding: 60px 0;
}

.section__title,
.section__descr {
  text-align: center;
}

.section__title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;

  &--with-line::after {
    content: '';
    top: 100%;
    width: 215px;
    height: 3px;
    margin-top: 7px;
    background: $accentColor;
    @include centerX;
  }
}

.section__descr {
  font-size: 23px;
}

@media screen and (max-width: 600px) {
  .section {
    padding: 35px 0;
  }

  .section__title {
    font-size: 24px;
  }

  .section__descr {
    font-size: 18px;
  }
}