.waiting {
  background: $bg;
}

.waiting__title {
  margin-bottom: 15px;
}

.waiting__descr {
  margin-bottom: 40px;
}

.waiting__list {
  @include row;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.waiting__item {
  @include col(4);
}

.waiting__item-image {
  display: block;
  width: 100%;
  margin: 0 auto 20px;
}

.waiting__item-text {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .waiting__descr {
    margin-bottom: 25px;
  }

  .waiting__list {
    justify-content: center;
  }

  .waiting__item {
    @include col(6);
  }
}

@media screen and (max-width: 500px) {
  .waiting__item {
    @include col(12);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .waiting__item-image {
    margin-bottom: 15px;
  }
}