.webinar {
  text-align: center;
}

.webinar__title {
  margin-bottom: 20px;
}

.webinar__ic {
  display: block;
  margin: 0 auto 25px;
}

.webinar__date {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  color: $accentColor2;
  line-height: 1;
}

.webinar__signup {
  font-size: 23px;
  margin-bottom: 0;
  line-height: 1.2;
}

@media screen and (max-width: 600px) {
  .webinar__ic,
  .webinar__title {
    margin-bottom: 15px;
  }

  .webinar__date {
    font-size: 26px;
  }
}

@media screen and (max-width: 480px) {
  .webinar__date {
    font-size: 24px;
  }

  .webinar__signup {
    font-size: 18px;
  }
}