/**
 * Основные стили
 **/
html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  color: $textColor;
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-width: 320px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  &::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(#000, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: opacity $duration;
    
    @media (min-width: 600px) {
      display: none;
    }
  }

  &.overlay::after {
    opacity: 1;
  }
}

::selection {
  background-color: $accentColor;
  color: #fff;
}

a,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.preload * {
  transition: none !important;
}
