/**
 * Основные стили
 **/

html {
  font-size: 16px;
}

body {
  background: $mainBgColor;
  font-family: 'Open Sans', sans-serif;
  color: $textColor;
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a,
a:hover {
  color: $textColor;
}