.information__container {
  padding-top: 80px;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
}

.information__description {
  margin-bottom: 150px;

  @media screen and (max-width: 768px) {
    margin-bottom: 0px;
  }
}

.information__shape {
  position: absolute;
  top: 125px;
  right: -80px;
  z-index: -1;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.information-slider-controls-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    order: 1;
  }
}

.information-slider-controls {
  position: relative;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.information-slider-controls__btn {
  border: none;
  background: transparent;
  @include centerX();

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.information-slider-controls__btn.up {
  top: 0;
}

.information-slider-controls__btn.down {
  bottom: 0;

  img {
    transform: rotate(180deg);
  }
}

.information-slider-controls__dots {
  list-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;

  button {
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid #b6ada5;
  }

  li:not(:last-child) {
    margin-bottom: 30px;
  }

  li.slick-active {
    button {
      border-color: $primaryColor;
      box-shadow: none;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;

    li:not(:last-child) {
      margin-bottom: 20px;
    }

    li {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.information-slider-range {
  position: absolute;
  width: 3px;
  top: 0;
  bottom: 0;
  right: 15px;
  background: #b6ada5;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.information-slider-range__thumb {
  @include centerX();
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #b6ada5;
  transition: top $duration;
}

.information-slider-wrap {
  padding-top: 30px;
}

.information-slider-counter {
  font-size: 21px;
  font-weight: 300;
}

.information-slider-counter__current {
  color: $primaryColor;
}

.information-slider-title {
  font-size: 35px;
  font-weight: 300;
  color: $primaryColor;
  line-height: 1;
  margin-bottom: 30px;
}

.information-slider-content__item {
  margin-bottom: 30px;
}

.information-slider-content__title {
  font-weight: 300;
  font-size: 25px;
  color: $primaryColor;
}

.information-slider-content-question {
  margin-bottom: 10px;
}

.information-slider-content-question__icon {
  margin-right: 5px;
}

.information-slider-content-question__text {
  color: #b2a8a2;
}

.information-slider-content__descr {
  color: #53565a;
  margin-bottom: 10px;
}

.information-slider-content__btn {
  padding: 10px;
}
