.section-title,
.section-description {
  line-height: 1;
  text-align: center;
  font-weight: 300;
}

.section-title {
  font-size: 45px;

  span {
    color: $primaryColor;
  }

  @media screen and (max-width: 480px) {
    font-size: 36px;
  }
}

.section-description {
  font-size: 21px;

  @media screen and (max-width: 480px) {
    font-size: 18px;
  }
}
