.best-sales {
  padding: 80px 0;
}

.best-sales__title,
.best-sales__descr {
  text-align: center;
}

.best-sales__descr {
  margin-bottom: 40px;
}

.best-sales__list {
  margin: 0 -15px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.best-sales__item {
  background: white;
  width: calc(100% / 12 * 4 - 30px);
  margin: 15px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  @include transition(box-shadow);

  &:hover {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    .best-sales__item-info-wrap {
      animation: fade .4s;
      opacity: 0;
      display: none;
    }

    .best-sales__item-btn {
      animation: fade .4s;
      opacity: 1;
      display: inline-block;
    }

    .best-sales__item-title {
      color: $accentColor;
    }

  }
}

.best-sales__item-image {
  @include fluidImage;
  display: block;
}

.best-sales__item-info {
  text-align: center;
  margin-left: auto;
}

.best-sales__item-info-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.best-sales__item-price {
  font-size: 18px;
  font-weight: bold;
  color: $accentColor;
}

.best-sales__item-title {
  @include transition(color);
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
}

.best-sales__item-btn {
  opacity: 0;
  display: none;

  .actions__icon {
    margin-right: 5px;
  }
}

@media screen and (max-width: 1090px) {
  .best-sales__item {
    flex-direction: column;
  }

  .best-sales__item-info {
    margin-left: 0;
  }

  .best-sales__item-image {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 720px) {
  .best-sales__item {
    width: calc(50% - 30px);
  }

  .best-sales {
    padding: 60px 0;
  }

  .best-sales__descr {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .best-sales__item {
    width: 100%;
  }

  .best-sales {
    padding: 40px 0;
  }

  .best-sales__descr {
    margin-bottom: 20px;
  }
}
