.contacts__link {
  font-size: 13px;
  line-height: 1.2;
  padding-left: 20px;
  position: relative;

  &--mail {
    padding-left: 25px;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &--mail::before,
  &--tel::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &--mail::before {
    background: url("../img/mail.svg") no-repeat;
    width: 18px;
    height: 11px;
  }

  &--tel::before {
    background: url("../img/phone.svg") no-repeat;
    width: 12px;
    height: 12px;
  }
}
