.new-arrivals {
  padding: 100px 0;
}

.new-arrivals__title,
.new-arrivals__descr {
  text-align: center;
}

.new-arrivals__descr {
  margin-bottom: 40px;
}

@media screen and (max-width: 968px) {
  .new-arrivals {
    padding: 80px 0;
  }
}

@media screen and (max-width: 720px) {
  .new-arrivals {
    padding: 60px 0;
  }

  .new-arrivals__descr {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .new-arrivals {
    padding: 40px 0;
  }

  .new-arrivals__descr {
    margin-bottom: 20px;
  }
}
