.section-title {
  text-transform: uppercase;
  color: $textColor;
  font-weight: bold;
  font-size: 36px;

  span {
    color: $accentColor;
  }
}

@media screen and (max-width: 720px) {
  .section-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 480px) {
  .section-title {
    font-size: 24px;
  }
}
