.advantages__title {
  @include visually-hidden;
}

.advantages__container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.advantages__list {
  list-style: none;
  margin: 0 -15px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  position: relative;
  flex-basis: calc(25% - 30px);
  min-width: 210px;
  margin: 30px 15px;
  
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 105%;
    background-color: $accentColor;
    width: 70px;
    height: 2px;
}
  &:hover {
    .advantages__icon {
      border-color: $accentColor;
      transform: rotateY(180deg);
    }

    .advantages__svg {
      fill: $accentColor;
    }

    .advantages__subtitle {
      color: $accentColor;
    }

    .advantages__description {
      color: $white;
    }
  }
}

.advantages__icon {
  border: 1px solid $textColor;
  border-radius: 50%;
  width: 104px;
  height: 104px;
  position: relative;
  margin-bottom: 20px;
  transition: border-color $transitionDuration, transform 1s;
}

.advantages__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  fill: $textColor;
  transition: fill $transitionDuration;
}

.advantages__subtitle {
  font-size: 18px;
  font-family: $ralewayFont;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.111;
  margin-bottom: 15px;
  transition: color $transitionDuration;
}

.advantages__description {
  font-size: 14px;
  line-height: 1.429;
  position: relative;
  transition: color $transitionDuration;
}

@media (max-width: 960px) {
  .advantages__list {
    justify-content: center;
  }

  .advantages__item {
    text-align: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .advantages__icon {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 780px) {
  .advantages__item {
    flex-basis: calc(50% - 30px);
  }
}

@media (max-width: 580px) {
  .advantages__item {
    flex-basis: calc(100% - 30px);
  }
}

@media (max-width: 480px) {
  .advantages__container {
    padding-top: 40px;
    padding-bottom: 40px;
  } 
}