.slick-track {
  display: flex;
  align-items: center;
}

.carousel__button {
  position: absolute;
  background: rgba($bgColor, .6);
  z-index: 2;
  top: 50%;
  width: 33px;
  height: 33px;
  padding: 0;
  transform: translateY(-50%);
  transition: background $transitionDuration;

  &:hover,
  &:focus,
  &:active {
    background: $accentColor;
    outline: none;
    svg {
      fill: $white;
    }
  }

  &--prev {
    left: 0px;
  }

  &--next {
    right: 0px;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: $textColor;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    transition: fill $transitionDuration;
  }
}
