.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
}

.menu__link {
  color: $textColor;
  transition: color $transitionDuration;
  font-size: 12px;
  font-family: $ralewayFont;
  text-transform: uppercase;
  line-height: 1.677;

  &:hover,
  &--active {
    color: $accentColor;
  }
}
