.section-title {
  font-size: 30px;
  font-family: $ralewayFont;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.933;
}

.section-description {
  font-size: 14px;
  line-height: 1.429;
  margin-bottom: 0;
}