.skills {
  background: $accentColor;
  color: $white;
}

.skills__container {
  padding-top: 110px;
  padding-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
}

.skills__text {
  flex-basis: 24%;
  margin-right: 9.5%;
}

.skills__bars {
  flex-grow: 1;
}

.skills__title {
  margin-bottom: 30px;

  &::before {
    background: $white;
  }
}

.skills__description {
  margin-bottom: 40px;
}

.skills__progressbar {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .skills__container {
    flex-direction: column;
  }

  .skills__text {
    flex-basis: auto;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .skills__title {
    margin-bottom: 15px;
  }

  .skills__description {
    margin-bottom: 25px;
  }
}

@media (max-width: 680px) {
  .skills__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 580px) {
  .skills__text {
    text-align: center;
  }

  .skills__title::before {
    left: 50%;
    transform: translateX(-50%);
  }
}
