.page-header {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.page-header__left {
  grid-column: span 11;
  padding-left: 15.9%;
  padding-top: 4.8%;
  padding-bottom: 8.7%;
  background: url('../img/image1.png') right center no-repeat;
  background-size: 100%;

  @media (min-resolution: 2dppx), (min-width: 1500px) {
    background-image: url('../img/image1-2x.png');
  }
}

.page-header__right {
  grid-column: span 5;
  background: $secondBgColor;
  color: $white;
  padding-top: 10.7%;
  padding-bottom: 10.7%;
  position: relative;

  @include bgLine;
}

.page-header__logo {
  margin-bottom: 5px;
}

.page-header__tagline {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 60px;

  @media (min-width: 1500px) {
    @include dynamicFontSize(112.5%, 36, 18, 1500px, 3000, 1500);
  }
}

.page-header__socials {
  margin-left: 15px;
}

.page-header__address,
.page-header__tel,
.page-header__mail {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.077;
  color: $white;

  @media (min-width: 1500px) {
    @include dynamicFontSize(81.25%, 26, 13, 1500px, 3000, 1500);
  }
}

.page-header__address {
  position: absolute;
  left: 12.9%;
  bottom: 36.5%;
}

.page-header__contacts {
  position: absolute;
  left: 29%;
  bottom: 15%;
}

.page-header__tel,
.page-header__mail {
  display: block;
  transition: color .4s;

  &:hover {
    color: $black;
  }
}

@media (max-width: 980px) {
  .page-header__left {
    grid-column: span 9;
  }

  .page-header__right {
    grid-column: span 7;
  }
}

@media (max-width: 580px) {
  .page-header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .page-header__left {
    grid-column: span 1;
  }

  .page-header__right {
    order: -1;
    grid-column: span 1;
  }

  .page-header__address,
  .page-header__contacts {
    position: static;
  }

  .page-header__address {
    margin-top: 20%;
    margin-left: 10%;
  }

  .page-header__contacts {
    margin-top: 15%;
    margin-left: 35%;
  }

  .page-header__socials {
    margin-left: 0;
  }
}