.about__descr {
  margin-bottom: 65px;
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include row($useMargin: false);
}

.about__item {
  @include col($count: 2, $useMargin: false);
  text-align: center;
  padding: 0 40px;
}

.about__item-ic {
  margin-bottom: 1rem;
}

.about__item-descr {
  font-size: 14px;
  line-height: 1.63;
}

@media screen and (max-width: 720px) {
  .about__item {
    @include col($count: 3, $useMargin: false);
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .about__item {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 480px) {
  .about__item {
    @include col($count: 6, $useMargin: false);
    padding-left: 15px;
    padding-right: 15px;
  }
}
