.btn {
  display: inline-block;
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  line-height: 1;
  padding: 10px 20px;

  &--red {
    background: $bgColor3;
    color: white;
    transition: background $duration;

    &:hover {
      color: white;
      background: lighten($bgColor3, 10%);
    }
  }
}