.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: bold;
}

.nav__item {
  position: relative;

  &:not(:last-child) {
    padding-right: 30px;

    &::after {
      content: '•';
      position: absolute;
      right: 12px;
    }
  }
}

.nav__link {
  transition: color $duration;
  text-transform: capitalize;

  &--active {
    color: $bgColor3;
  }
}

@media screen and (max-width: 860px) {
  .nav__list {
    flex-direction: column;
    text-align: center;
  }

  .nav__item:not(:last-child) {
    padding-right: 0;
    border-bottom: 1px solid $bgColor1;

    &::after {
      display: none;
    }
  }

  .nav__link {
    display: block;
    padding: 20px;
  }
}
