.page-header__top {
  background: $bgColor1;
  border-bottom: 1px solid $borderColor;
}

.page-header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__contacts {
  margin-left: auto;
}

.page-header__bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-header-nav {
  margin-left: auto;
}

.page-header__btn {
  margin-left: 40px;
}

.page-header__btn-text {
  display: inline;
}

.page-header__btn-ic {
  display: none;
}

.page-header__open-btn {
  color: $textColor;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border-color: $bgColor1;
  display: none;
  position: relative;

  i {
    @include centerBoth;
  }
}

@media screen and (max-width: 860px) {
  .page-header__bottom {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .page-header-nav {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 200px;
    background: #fff;
    z-index: 100;
    transition: right 0.6s;

    &.active {
      right: 0;
    }
  }

  .page-header__btn {
    margin-left: auto;
  }

  .page-header__open-btn {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .page-header__btn {
    padding: 10px;
    width: 30px;
    height: 30px;
    position: relative;
  }

  .page-header__btn-text {
    display: none;
  }

  .page-header__btn-ic {
    display: inline;
    @include centerBoth;
  }

  .page-header__open-btn {
    margin-left: 15px;
  }
}
