.works {
  background-color: $bgColor3;
  color: #fff;
}

.works__descr {
  margin-bottom: 65px;

  &::after {
    background: #fff;
  }
}

.works__list {
  @include row($useMargin: false);
  list-style: none;
  margin: 0;
  padding: 0;
}

.works__item {
  @include col(3, $useMargin: false);
  display: flex;
  flex-wrap: wrap;

  &--reverse {
    flex-direction: row-reverse;
  }
}

.works__item-text,
.works__item-img {
  width: 50%;
}

.works__item-text {
  background-color: #f35e59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.works__item-title {
  line-height: 1;
}

.works__item-descr {
  margin-bottom: 0;
}

.works__item-ic {
  display: block;
  opacity: 0.5;
  margin-bottom: 15px;
}

.works__item-img img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 720px) {
  .works__item {
    @include col(6, $useMargin: false);

    &--reverse {
      flex-direction: row;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 420px) {
  .works__item,
  .works__item--reverse {
    flex-direction: column-reverse;
  }

  .works__item-text,
  .works__item-img {
    width: 100%;
  }
}
