/**
 * Основные стили
 **/

html {
  font-size: 16px;
}

body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
}

a,
a:hover {
  text-decoration: none;
  color: $textColor;
  display: inline-block;
}

.container {
  @include container;
}

.logo__image {
  display: block;
  @include fluidImage;
}
