.blog {
  padding: 80px 0;
  text-align: center;
}

.blog__descr {
  margin-bottom: 45px;
}

.blog__list {
  padding: 0;
  margin: 0 -15px 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.blog__item {
  width: calc(50% - 30px);
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.blog__item-image {
  @include fluidImage;
  display: block;
}

.blog__item-content {
  text-align: left;
  padding: 30px;
  padding-right: 0;
  width: 70%;
}

.blog__item-title {
  font-size: 18px;
  line-height: 1.667;
  color: $headerColor;
  @include loraFont;
}

.blog__item-text {
  font-size: 15px;
  line-height: 1.667;
}

.blog__item-link {
  color: $headerColor;
  font-size: 15px;
  font-weight: bold;
  transition: color $duration;
  @include loraFont;

  &:hover {
    color: $accentColor;
  }

  &:hover .blog__item-link-ic {
    transform: translate(3px);
  }
}

.blog__item-link-ic {
  transition: transform $duration;
}

@media screen and (max-width: 1159px) {
  .blog__item-content {
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .blog {
    padding: 60px 0;
  }

  .blog__descr {
    margin-bottom: 30px;
  }

  .blog__list {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .blog {
    padding: 40px 0;
  }

  .blog__descr {
    margin-bottom: 20px;
  }

  .blog__item {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blog__item-image {
    margin: 0 auto;
  }

  .blog__item-content {
    text-align: center;
  }
}
