.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background: transparent;
  box-shadow: none;
  padding: 15px 45px;
  @include loraFont;

  &--primary {
    background: $accentColor;
    color: #fff;
    box-shadow: 0 5px 30px 0 rgba(31, 35, 37, 0.25);
    transition: box-shadow $duration, transform $duration, background $duration;

    &:hover {
      color: #fff;
      box-shadow: 0 5px 35px 0 rgba(31, 35, 37, 0.15);
      transform: translateY(-5px);
      background: darken($accentColor, 5);
    }
  }

  &--bordered {
    color: inherit;
    border: 1px solid $accentColor;
    text-transform: uppercase;
    font-size: 14px;
  }
}
