.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -15px;
  padding: 0;
}

.products__item {
  width: calc(25% - 30px);
  margin: 15px;
  text-align: center;

  &:hover {
    .products-actions {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.products-wrap {
  margin: 0 auto 15px;
  display: inline-block;
  position: relative;
}

.products-actions {
  background: rgba(black, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity $duration;
}

.products-actions__btn {
  padding: 10px 0;
  width: 120px;
  font-family: inherit;
  font-size: 14px;
  display: block;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.products__image {
  @include fluidImage;
  display: block;
}

.products__title {
  @include loraFont;
  font-size: 18px;
  color: $headerColor;
}

.products__prices {
  font-size: 13px;
}

.products__price {
  &--old {
    text-decoration: line-through;
    margin-right: 5px;
  }

  &--new {
    color: $accentColor;
    font-weight: bold;
  }
}

@media screen and (max-width: 860px) {
  .products__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (max-width: 600px) {
  .products__item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 480px) {
  .products__item {
    width: 100%;
  }
}
