.section-title,
.section-descr {
  text-align: center;
}

.section-descr {
  line-height: 1.6667;
  width: 45%;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.section-title {
  font-size: 35px;
  color: $headerColor;
  @include loraFont;
}

@media screen and (max-width: 780px) {
  .section-descr {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 24px;
  }

  .section-descr {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .section-descr {
    width: 100%;
  }
}
